<div class="container">
        <div class="d-flex flex-wrap gap-5 ">
            <div class="team-card-custom d-flex justify-content-center align-items-center" (click)="addPostOpenModal()">
                <div class="">
                    <div class="text-center">
                        <i class="las la-plus-circle fs-1 color-salmon"></i>
                        <p class="fw-bold fs-4 color-salmon">ADD NEW POST</p>
                    </div>
                </div>
            </div>
            <div class="team-card-custom d-flex flex-column" *ngFor="let postCategory of postCategoryLis let i = index">
                <div class="row justify-content-end mt-2">
                    <div class="col-3 mx-1 ">
                        <button class="btn btn-warning me-1 p-0"><i class="las la-edit text-white fs-5" (click)="updatePost(postCategory)"></i></button>
                        <button class="btn btn-danger p-0"><i class="las la-trash fs-5" (click)="deletePost(postCategory._id)"></i></button>
                    </div>
                </div>
                <div class="row align-self-center mt-auto">
                    <div class="col-12 text-center">
                        <span class="fw-bold  color-salmon">{{postCategory.title}}</span>
                    </div>
                </div>
                <div class="row mt-auto mb-3">
                    <div class="col-12 text-center">
                        <span class="mx-1 text-category" style="font-size: 0.5rem;"  *ngFor="let test of postCategory.categories" >{{test.name}}</span>
                    </div>
                </div>
            </div>
        </div>
</div>