
<div class="container">
        <div class="row">
                <div class="col mb-4">
                        <button class="btn btn-success text-middle"  (click)="openModal()">
                                <i class="las la-plus fs-4 me-1"></i><span>Category</span>
                        </button>
                      
                </div>
        </div>
        <app-table 
        [data]="categories" 
        (deleteCategoryId)="deleteCategory($event)" 
        (editCategoryId)="openModal($event)">
        </app-table>
</div>


